@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello XYZCorp on .NET 7 >> Now on Web Apps!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Deployed VIA Azure DevOps Pipeline.</p>
    <p>This should  now be on Production and staging!</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
